<%= form_tag :action=>"aaa" do %>


  <div class="field">
   Name
    <%= text_field_tag :name %>
  </div>

  <div class="field">
   Age
    <%= text_field_tag :age %>
  </div>
  <div class="field">
  Trip Description
    <%= text_field_tag :desc %>
  </div>
  <div class="field">
   Email
    <%= datetime_field_tag :email %>
  </div>
  

  <input type = "submit" name="sub" value="Create Account">
 
<% end %>