<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
 
</head>
<body >
     
<div class="row-bot">

<br><br>
<br><br>
<br><br>
<br><br>

<%= flash[:error]  %>
<%= form_tag :action=>"au" do %>
  <div class="field">
   Name
    <%= text_field_tag :name %>
  </div>

  <div class="field">
   email
    <%= text_field_tag :email %>
  </div>
  <div class="field">
  City
    <%= text_field_tag :city %>
  </div>
  <div class="field">
   Checkin
    <%= datetime_field_tag :Checkin %>
  </div>
  <div class="field">
   Checkout
    <%= datetime_field_tag :Checkout %>
  </div>

  <input type = "submit" name="sub" value="Login">
 
<% end %>

<%= link_to "contact us", "articles/contact" %>

		

<br><br>
<br><br>
<br><br>
<br><br>
										          </div>
							        </div>
					  <br><br>  </div>
		    </div>
  </div>
</div></div></div></div></div></body></html>