<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 
</head>
<body  id="page" >             
   

    <div id="mi" class="bgParallax" data-speed="35">
      <article>
      <h1 style="font-family:algerian;">SCROLL DOWN TO CONTACT</h1>
        <p>This is our online portal for QUERIES. Get ready for your secure, safe and most enjoyble tours. We provide you the best quality services. </p>

        <p>HIGH ADVENTURE UTTARAKHAND</p>


        <p>www.trekking himlayas.in <br>
        phone: +91-7508503094<br>
        +91-7508504091</p>

        <%= flash[:error]  %>
        <%= form_tag :action=>"contactus" do %>
        <div class="field">
         Username
        <%= text_field_tag :email %>
        </div>
        <input type = "submit" name="sub" value="send email">
 
<% end %>
       </article>
  </div>
</body></html>