<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
</head>
<body> 
<br><br>

<div id="m" class="bgx" data-speed="15">
      <article>
      <h1 style="font-family:algerian;font-size:69px"><br> WELCOME TO YOUR DREAM TRIP </h1>
        <p>

<%= link_to "contact us", "articles/contact" %>
<%= session[:id] %>
<%= @art.email %>

<%= link_to "contact",  contact_path %>

<%= link_to "Logout",  logout_path %>
</p>
        
       </article>
  </div>
  <div id="aboutus" class="bgParallax" data-speed="10">
       <article>
       <b> <h1>LETS TRAVEL: ITENARY</h1>
       <p><br>Day0: Departure from old Delhi railway station [10 .40 P.M.] to Kathgodam via Ranikhet exp [25013] <br><br>Day1: Arrival at Kathgodam railway station, then drive to Jalna Elphinstone Himalayan Resort. It is a Himalayan facing resort  designed for  lovers of Nature. After noon a small trek to Banardevi and enjoy the beautiful view of Almora city then back to resort for camp fair & dinner.<br><br>
      Day2: After breakfast trek to nearby Kumaoni  village to see local culture and routine life of local people and birds around settlement, back to  camp for night stay.<br><br>
      Day3: After breakfast 18 k.m.trek  to Almora enjoy the oldest khagmara temple made by katuari  kings, then drive to Binsar. It was the summer capital of chand kings. The region is now under the Binsar Sanctuary at least more then 200 identified bird species in the region. You can enjoy the 300 k.m. panoramic Himalayan view include Nandadevi peak [ 7600mtrs.] Check in the T.R.H. Binsar for night stay.<br><br>
      Day 4: After breakfast, trek 17 k.m. to Jageshwar.. It is a pilgrim town. The temples were built by rulers of Kumaon between the 8th century to the 16th century. Check in the T.R.H. Jageshwar.<br><br>
      Day5: After breakfast drive to Kanchi, then trek 12 kms.to Nainital ( old British trail)  Check in the fair light trails, enjoy the full lake view at your place.<br><br>
      Day6: After breakfast, 12 k.m. trek to Vinayak. One of the most beautiful trek with soft cool air, shades of tall trees, songs of birds, beauty of snow mountains etc. over night stay in camp.<br><br>
      Day7: After breakfast back to the fair light trail for lunch. Evening  explore the mall then back and  enjoy dinner and camp fire.<br><br>
      Day8: After breakfast  departure to Delhi.<br><br>


       </p></article><br><br></div>


       <div id="m" class="bgx" data-speed="10">
       <article>
        <h1>Water</h1>
       <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>
      </article><br></div>
</body>
</html>
