<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
 
</head>
<body id="page"> 
 

<div class="row-bot">

        <div class="row-bot-bg">

     <h3>&nbsp;&nbsp;book hotels tours and trips in any season for secure and wondersome experiences</h3>
     <br>


<div class="slider-wrapper">
          <ul class="slides">
              <input type="radio" name="radio-btn" id="img-1" checked />
              <li class="slide-container">
              <div class="slide">
              <%= image_tag("bgs.jpg", :alt => "Travel and tours") %>
                  </div>
              <div class="nav">
                <label for="img-6" class="prev">&#x2039;</label>
                <label for="img-2" class="next">&#x203a;</label>
              </div>
              </li>

              <input type="radio" name="radio-btn" id="img-2" />
              <li class="slide-container">
                  <div class="slide">
          <%= image_tag("camp.jpg", :alt => "Travel and tours") %>
                  </div>
              <div class="nav">
                <label for="img-1" class="prev">&#x2039;</label>
                <label for="img-3" class="next">&#x203a;</label>
              </div>
              </li>

              <input type="radio" name="radio-btn" id="img-3" />
              <li class="slide-container">
                  <div class="slide">
          <%= image_tag("front.jpg", :alt => "Travel and tours") %>
                  </div>
              <div class="nav">
                <label for="img-2" class="prev">&#x2039;</label>
                <label for="img-4" class="next">&#x203a;</label>
              </div>
              </li>

            
              <input type="radio" name="radio-btn" id="img-4" />
              <li class="slide-container">
                  <div class="slide">
          <%= image_tag("rhodo.jpg", :alt => "Travel and tours") %>
                  </div>
              <div class="nav">
                <label for="img-4" class="prev">&#x2039;</label>
                <label for="img-6" class="next">&#x203a;</label>
              </div>
              </li>

              <input type="radio" name="radio-btn" id="img-6" />
              <li class="slide-container">
                  <div class="slide">
          <%= image_tag("img.jpg", :alt => "Travel and tours") %>
                  </div>
              <div class="nav">
                <label for="img-5" class="prev">&#x2039;</label>
                <label for="img-1" class="next">&#x203a;</label>
              </div>
              </li>
          </ul>
          <li class="nav-dots">
                <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                <label for="img-5" class="nav-dot" id="img-dot-4"></label>
                <label for="img-6" class="nav-dot" id="img-dot-6"></label>
              </li>
        </div></div></div>
  <br>

<table width="1345" >
  <tr>
    <td><a href="#"><H2><b style="font-family:algerian;">&nbsp;KAUSANI BIRD CAMP</b></H2>Especial 4Night 5Days luxuary trip<br>CLICK HERE FOR MORE DETAILS</a></td>
    <td><a href="#"><H2><b style="font-family:algerian;">&nbsp;RHODODENDRON TOUR</b></H2>Especial 4Night 5Days luxuary trip<br>CLICK HERE FOR MORE DETAILS</a></td>
    <td><a href="#"><H2><b style="font-family:algerian;">&nbsp;INDIAN CAMP</b></H2>Especial 4Night 5Days luxuary trip<br>CLICK HERE FOR MORE DETAILS</a></td>
    <td><a href="#"><H2><b style="font-family:algerian;">&nbsp;JUNGLE CAMP</b></H2>Especial 4Night 5Days luxuary trip<br>CLICK HERE FOR MORE DETAILS</a></td>
  </tr>
<tr>

    <td class="bird"></td>
    <td class="rho" ></td>
    <td class="butter"></td>
    <td class="kafal"></td>
  </tr>
<br><br><br>
  <tr>
    <td><a href="birds/index" class="div red shield">BOOK NOW<br><br><h1>$120/-</h1> only</a></td>
    <td><a href="wildlives/index" class="div red shield">BOOK NOW<br><br><h1>$120/-</h1> only</a></td>
    <td><a href="trekkings/index" class="div red shield">BOOK NOW<br><br><h1>$120/-</h1> only</a></td>
    <td><a href="cycles/index" class="div red shield">BOOK NOW<br><br><h1>$120/-</h1> only</a></td>
  </tr>

 </table>

<br><br><br>
        <section id="content">
          <div class="main">
    <div class="wrapper">
      <article class="column-1">
        <div class="indent-left">
          <div class="maxheight indent-bot">
            <h3>Our Services</h3>
            <ul class="list-1">

                    <%= link_to "contact us", "articles/contact" %>

              <li><a href="#">WINTER CAMP</a></li>
              <li><a href="#">CYCLING TRIP </a></li>
              <li><a href="#">TREK THE SNOW</a></li>
              <li><a href="#">OFFBEAT TOURS</a></li>
              <li><a href="#">LEISURE TRIPS</a></li>
              <li><a href="#">ADD YOUR OWN TRIP</a></li>
              <li><a href="#">CONTACT INFORMATION</a></li>
            </ul>
          </div>
      </article>
      <article class="column-2">
        

    </div>
  </div>
</section>


</body>
</html>


