<!DOCTYPE html>
<html>
<head>
  <title>travel</title>
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>



<img src="http://maps.google.com/maps/api/staticmap?size=255x255&maptype=roadmap&sensor=false&markers=color:blue|label:A|India,IL&markers=color:purple|label:B|Uttarakhand,IN" alt="Static, Marked Map of India, , Uttarakhand with no Center and Zoom"></img>
</body>
</html>