/* CSS Document */
body{
background-image:url(file:///C|/Sites/mf/app/assets/images/logo.png)
}

header {
padding-top: 20px;
background: #fcf
}
header img {
padding: 6em;
background: #0fa;
}

