<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body id="page" > 
<br><br><br>
          <h1 style="font-family:algerian;color:#004080; text-align:center; font-size:80px;"> WELCOME TO YOUR DREAM TRIP </h1><br><br>
                   <h1 style="font-family:Edwardian Script ITC;color:#fff;; text-align:center; font-size:80px;color:#004080;">scroll down to register</h1>

       
           
<br>  
  <div> 
<br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="Uttarakhand" src="http://maps.google.com/maps/api/staticmap?center=Uttarakhand,IN&zoom=4&size=950x600&maptype=hybrid&sensor=false&markers=color:orange|Uttarakhand"></img>

<img src="http://maps.google.com/maps/api/staticmap?size=950x600&maptype=roadmap&sensor=false&markers=color:orange|Uttarakhand,IN&markers=color:pink" alt="UTTARAKHAND, Illinois"></img>
&nbsp;&nbsp;&nbsp;&nbsp;

<br><br>
</div>
      
	  <div id="aboutus" class="bgParallax" data-speed="15">
      <article>
      <p><b> <h1>CYCLING THRILL</h1></b><br>
<b>Explore the thrills of Biking across the Mountain terrain in Uttarakhad, Almora  TO  Nainital</b><br><br>

(5 night 6 days)<br><br>
<b>How to reach</b>- <br>for Uttarakhand Himalayan Mountain biking, our base camp is Almora. It was the flourishing capital of the Chand dynasty. In 1560 the capital of Chand Dynasty was shifted to Almora (from Champawat) by Kalyan Chand. The beautiful town is set on a 6 kms long horse saddle shaped ridge. It affords breathtaking views of the snowy summits of Himalayas. It is 90 k.m. from    Kathgodam railway station.<br><br>
<b>Day wise itinerary-</b><br><br>
Day0 Night departure from Delhi to kathgodam.<br>
Day1 Morning arrival at kathgodam railway station then drive  to  Almora check in the Hotel.<br>In the evening  cycling to Tagore house then back. <br>
Day2 After breakfast 8  A.m. biking  down to  kosi  and  then Ram mander 20K.m. then  back to Almora. <br>Lunch on the way.  Back to Almora 20 k.m. <br>
Day 3 After breakfast biking  to  kafarkhan 15 k.m. (Near binsar  sanctuary ) then Kasardevi, after lunch back down 15 k.m. to  Hotel at  Almora.<br>
Day4 After breakfast, biking to Nainital 63 k.m. check in the Hotel. <br>
Day5 This is relaxing day, you can visit mall and enjoy boating etc. In the evening, camp fire at hotel. <br>
Day6 Morning, drive to Delhi.<br>
                                      <br>                       
                            Tour end 
                            <br><br>

</p>
        <p><%= flash[:error]  %>
<%= form_tag :action=>"abc" do %>
  <div class="field">
   Name
    <%= text_field_tag :name %>
  </div>

  <div class="field">
   Email
    <%= text_field_tag :email %>
  </div>
  <div class="field">
  City
    <%= text_field_tag :city %>
  </div>
  <div class="field">
   Checkin
    <%= datetime_field_tag :Checkin %>
  </div>
  <div class="field">
   Checkout
    <%= datetime_field_tag :Checkout %>
  </div>

  <input type = "submit" name="sub" value="SUBMIT">
 
<% end %>

        <br><br>
       </article>
  </div>
</body></html>