<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body id="page" link="#fff" vlink="#fff" alink="#fff" >             
   	  <div id="aus" class="bgParallax" data-speed="15">
   	  <br><br><br><br><br><br><br>
   	            <h1 style="font-family:algerian;color:#fff; text-align:center; font-size:80px;"> WELCOME TO OFFBEAT TOURS AND <br><br><br><br><br>TRIPS </h1><br><br>
<h3 style="font-family:Edwardian Script ITC; text-align:center; color:#fff; font-size:30px;">click-register and enjoy the safemost journey with our 5 star facilities at affordable prices</h3>
<br><br><br><br>
<br><br><br>


<h4 style="font-family:Edwardian Script ITC; text-align:center; color:#fff; font-size:50px;">These are the special trips available. You can register your account for free and can book any<br><br> of the tours at our best terrif and accomandations.</h4>
<br><br><br><br>

<h2 style="font-family:Edwardian Script ITC; text-align:center; color:#fff; font-size:50px;">BOOK&nbsp;&nbsp;&nbsp;&nbsp;NOW!</h2>
<br><br><br><br><br><br> 


  </div>
  <div id="mission" class="bgParallax" data-speed="10">
       <article>
        <h1>Off Beat Tours</h1><br>
( 6 night 7 days )<br>
Day 1 <br> Arrival at Kthgodam then drive to Mukteshwar 7500 feet. Visit to Chauthi Jali, beautiful rock side and enjoy the valley and Himalayan views.<br> <br>
Day 2<br> Drive to Jalna.  It is a new destination perfect for Himalayan Views, at an altitude of 1,675 meters <br><br>
Day 3<br>  Drive to Dholchina.  It is situated in the laps of Himalayas near the ancient silk route between India and China and Binsar  wildlife Sanctuary. Visit anand ma ashram.<br><br>
Day 4 <br>Drive to kausani best for Himalayan view and tea gardens , visit Baijnath and back.
<br><br>
Day 5 <br>Drive to shitalakhet  (2400mtrs.) It is a perfect picnic spot, full of blooming orchards, spectacular sceneries and Himalayan views.  It is bird’s paradise also.  
<br><br>
Day 6 <br>Drive to Nainital, The most famous amongst the Lakes in Nainital is the Naini Lake from where this town inherits its name with a circumference of about 2 miles and almost 28 mts deep cocooned within seven hills known as 'Sapta-Shring' namely, Naini Peak or Cheena Peak.<br> <br>
Day 7 <br>Rest and relax at Nainital or explore the mall/boating etc.
<br><br>
Day 8 <br>Morning drive to Kathgodam railway station<br><br>
                                  Tour end<br><br>


SUBMIT QUERY<br><br>

       <p><p><%= flash[:error]  %>
<%= form_tag :action=>"live" do %>
  <div class="field">
   Name
    <%= text_field_tag :name %>
  </div>

  <div class="field">
   Email
    <%= text_field_tag :email %>
  </div>
  <div class="field">
  City
    <%= text_field_tag :city %>
  </div>
  <div class="field">
   Checkin
    <%= datetime_field_tag :Checkin %>
  </div>
  <div class="field">
   Checkout
    <%= datetime_field_tag :Checkout %>
  </div>

  <input type = "submit" name="sub" value="SUBMIT">
 <br><br>
<% end %>
       </article>
  </div>
  
  

</body></html>