<table width="1345" >
  <tr>
    <td><a href="#"><H2><b style="font-family:algerian; color:#fff;">&nbsp; KAUSANI BIRD CAMP</b></H2><i style="font-family:algerian; color:#fff;">Especial 4Night 5Days luxuary trip<br>CLICK HERE FOR MORE DETAILS</i></a></td>
    <td><a href="#"><H2><b style="font-family:algerian; color:#fff;">&nbsp;KAUSANI BIRD CAMP</b></H2><i style="font-family:algerian; color:#fff;">Especial 4Night 5Days luxuary trip<br>CLICK HERE FOR MORE DETAILS</i></a></td>
    <td><a href="#"><H2><b style="font-family:algerian; color:#fff;">&nbsp;KAUSANI BIRD CAMP</b></H2><i style="font-family:algerian; color:#fff;">Especial 4Night 5Days luxuary trip<br>CLICK HERE FOR MORE DETAILS</a></i></td>
    <td><a href="#"><H2><b style="font-family:algerian; color:#fff;">&nbsp;KAUSANI BIRD CAMP</b></H2><i style="font-family:algerian; color:#fff;">Especial 4Night 5Days luxuary trip<br>CLICK HERE FOR MORE DETAILS</i></a></td>
  </tr>
<tr>

    <td class="offbeat"></td>
    <td class="offbeata" ></td>
    <td class="offbeatc"></td>
    <td class="offbeatm"></td>
  </tr>

  <tr>
    <td><a href="index" class="div orange shield">BOOK NOW<br><br><h1>$120/-</h1> only</a></td>
    <td><a href="http://www.inserthtml.com/" class="div orange shield">BOOK NOW<br><br><h1>$120/-</h1> only</a></td>
    <td><a href="http://www.inserthtml.com/" class="div orange shield">BOOK NOW<br><br><h1>$120/-</h1> only</a></td>
    <td><a href="http://www.inserthtml.com/" class="div orange shield">BOOK NOW<br><br><h1>$120/-</h1> only</a></td>
  </tr>

 </table><br><br><br><br><br><br>