<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
</head>
<body>
<br><br>
<br><br><br>
</div>
<div id="aboutus" class="bllx" data-speed="15">
      <article>
      <h1 style="font-family:algerian; text-align:center;">TREKKING: WELCOME TO YOUR DREAM TOURS AND TRIPS </h1>
<br>
        <p><h2 style="font-family:Edwardian Script ITC; text-align:center; font-size:30px;">This is our online portal for trip and tour booking. Get ready for your secure, safe and most enjoyble trip. We provide you the best and quality services. </h2></p>
        
       </article>
  </div>
  <div id="mn" class="bllx" data-speed="10">
</div>


      </article><br></div><div id="aboutus" class="bgParallax" data-speed="15">
      <article>
      <h1 style="font-family:algerian;">ITENARY: WELCOME TO YOUR DREAM TOURS AND<br><br> TRIPS </h1>
        <p>LEISURE TRIPS<br>
(6/7 days)<br>
(KUMAON HIMALAYAS UTTARAKHAND)<br><br>



TOUR DURATION: - 8 DAYS <br><br>

TOUR LEVEL: - Easy (Tours for couples, families & senior citizens) <br><br>
BEST SEASON: - Round the year.<br><br>
Kumaon is one of the two regions and administrative divisions of Uttarakhand, a mountainous state of northern India, the other being Garhwal.<br><br>
Almora  is a district of Uttarakhand state, India. The headquarters is at Almora. It is known for its cultural heritage, handicrafts, cuisine and wildlife. <br><br>
Chaukori is a tiny hill station in the Pithoragarh district set among the lofty peaks, of the western Himalayan Range in the Kumaon Division of Uttarakhand, to the north is Tibet.<br><br>
Kausani ,There are very few places in the Himalayas that can compare with the beauty of Kausani - a picturesque hill station famous for its scenic splendour and its spectacular 300 km-wide panoramic view ofhimalayan peaks.<br><br>
Nainital is set in a valley containing a pear-shaped lake, approximately one km. in circumference, and surrounded by 7 mountains, of which the highest are China peak (2,615 m.) <br><br><br>

Day1:- <br>Drive from kathgodam railway station to ALMORA ( Kathgodam station, the last railway station at the highest altitude for entering the Himalayan state) check in the Resort near  Himalayan view point. Walk to Kasardevi temple for Himalayan & Almora city views.<br><br>
Day2:- <br>Visit Jageshwar and Eco park.<br><br>
Day3:- <br>After breakfast drive to Chaukori on way visit Patal Bhubneshwar Cave check in the Hotel.<br><br>
Day4:- <br>Drive to Kausani on way visit Bageshwar, Baijnath and tea garden. Check in the Hotel.<br><br>
Day5:-  <br>After breakfast drive to Nainital on way visit Ranikhet, Check in the Fair light trails Resort.<br><br>
Day6:- <br>visit cave garden, boating and explore the mall etc.  <br><br>
Day 7:- <br>After breakfast drive to Sattal, Bhimtal  and Naukuchiatal then Kathgodam railway station.<br><br>
                                                                TOUR END<br>

 </p>
        
       </article>
  </div>
</body>

</html>