<%= form_for(@at) do |f| %>
  <% if @at.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@at.errors.count, "error") %> prohibited this at from being saved:</h2>

      <ul>
      <% @at.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
