<h1>Listing ats</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ats.each do |at| %>
      <tr>
        <td><%= at.string %></td>
        <td><%= at.string %></td>
        <td><%= link_to 'Show', at %></td>
        <td><%= link_to 'Edit', edit_at_path(at) %></td>
        <td><%= link_to 'Destroy', at, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New At', new_at_path %>
