

<%= flash[:error]  %>


<h1>Listing yourtours</h1>

<table>
  <thead>
    <tr style=" font-family: algerian;">
      <th style=" font-family: algerian;">Tour&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th style=" font-family: algerian;">Description</th>
      <th style=" font-family: algerian;">Agegroup&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th style=" font-family: algerian;">Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Yourtour', new_yourtour_path %>