<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body id ="page" >             
   

	  <div id="aboutus" class="bgParallax" data-speed="15" style="font-family:algerian; background-color:#000;">
      <article>
      <h1 >HIGH ADVENTURE UTTARAKHAHD </h1><br><br>
       <p> High Adventure located in Uttarakhd is a tourism shop, where you can get details of any of the trips and register for it anytime. We are providing quality sevives since last 15 years</p>

       </article>
  </div>
  
  
  <div style="font-family:algerian; background-color:#fff; text-align:center; ">
      <br><h1 >ADMIN LOGIN</h1><br><br>
       <p><div id="mission" class="bgParallax" data-speed="10">
       <article>
        <h1></h1>
       <p><div style="align:center;">
<%= flash[:error]  %>
        <%= form_tag :action=>"ae" do %>
          <div class="field">
           Username
            <%= text_field_tag :email %>
          </div>
          <div class="field">
           Password
            <%= password_field_tag :password %>
          </div>
          <input type = "submit" name="sub" value="Login">
         
        <% end %>


<%= link_to "contact us", "articles/contact" %>
</div></p>
       </article>
  </div>
  </p></div>
</body></html>