body{
cursor:crosshair;
background: #fff;
}
header {
padding-top: 20px;
background: #fcf;
}
header img {
padding: 6em;
background: #fff;
}


.menu {
	color:#000;
	font-color:#000;
font-size: 15px;
padding: 26px 10px 0 0;
float: right;
vertical-align: top;
}

.row-bot-bg {
	font-family: Edwardian Script ITC;
	font-size: 50px;
width: 100%;
min-height: 122px;
color: #fff;
}


.div {
	text-decoration: none;
	font-weight: bold;
	padding: 5px 100px;
	font-size: 18px;
	border-radius: 10px;
	background-color: #666666;
	color: #fff;
	box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	display: inline-block;
	font-family: Arial, Helvetica, sans;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}

.div:hover {
	box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
	color: #fff !important;
}

.div:active {
	top: 7px;
	box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);	
	color: #fff !important;
}

.shield {
	border-radius: 5px 5px 35px 35px;	
	padding-left: 21px;
	padding-right: 21px;
}


.red {	
	background-color: #000;	
	box-shadow: 0 5px 5px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.red:hover {
	box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.red:active {
	box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
}


.orange {	
	background-color: #000;	
	box-shadow: 0 0px 0px #000, 0 0px 0 #000 0px 0px 0px rgba(0,0,0,0.0), inset 0px 0px 0px rgba(255,255,255,0.0), inset 0 -2px 9px rgba(0,0,0,0.0);
}

.orange:hover {
	box-shadow: 0 5px 5px #000, 0 9px 0 #fff, 0px 0px 10px rgba(0,0,0,0), inset 0px 0px 0px rgba(255,255,255,0.0), inset 0 0px 0px rgba(0,0,0,0);
}


.home {	
	background-image:url(home.jpg);
	box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.home:hover {
	box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.home:active {
	box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
}


.contact {	
	background-image:url(contact.jpg);
	box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.contact:hover {
	box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.contact:active {
	box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
}

#page{
font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
color: #000;
min-width: 960px;
background: #000;
}

.row-top {
width: 100%;
padding: 10px 0;
background: #000;
color:#000;
}

.main {
width: 960px;
padding: 0;
margin: 0 auto;
font-size: 13px;
line-height: 25px;
}

.m {
width: 960px;
padding: 0;
margin: 0 auto;
font-size: 13px;
line-height: 25px;
vertical-align: left;

}


.wrapper {
width: 100%;
}

.row-bot {
width: 100%;
background: #000;}

.row-bot-bg {
	font-family: Edwardian Script ITC;
	font-size: 50px;
width: 100%;
min-height: 122px;
background-image:url(background.jpg) center top no-repeat;
color: #fff;
}

.main {
width: 960px;
padding: 0;
margin: 0 auto;
font-size: 13px;
line-height: 25px;
}

.row-top {
width: 100%;
padding: 10px 0;
background: #000;
}


.slider {
width: 940px;
height: 466px;
}

#content {
width: 100%;
padding: 15px 0 50px;
background: #f2f2f2;
position: relative;
z-index: 1;
}

.pagination {
position: absolute;
left: 427px;
bottom: 19px;
z-index: 99;
}

.img-indent-bot {
margin-bottom: 25px;
}

.wrapper {
width: 100%;
overflow: hidden;
}

.col-1, .col-2, .column-1, .column-2 {
float: left;
}




* {margin:0; padding: 0;}
	html, body {height:100%;
}
	
.bllx {
		color:#D05809;
		margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
		min-height: 30%;
		text-shadow:0 0 60px rgba(0,0,0,0.7);
	 	background-position: 50% 0;
		background-repeat: repeat;
		background-attachment: fixed;
	}


/** format elements which have backgrounds parallax **/
	.bgParallax {
		color:#D05809;
		margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
		min-height: 100%;
		text-shadow:0 0 60px rgba(0,0,0,0.7);
	 	background-position: 50% 0;
		background-repeat: repeat;
		background-attachment: fixed;
	}

.bgx {
		text-align: center;
		color:#000;
		margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
		min-height: 80%;
		text-shadow:0 0 30px rgba(0,0,0,0.7);
	 	background-position: 50% 0;
		background-repeat: repeat;
		background-image:url(col.jpg);
		background-attachment: fixed;
		-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	}

#contact {
	color: #000;
	background-color: #ADADAD;
}		
#mi {
	height: 20%;
		color: #000;
		background-image:url(img.jpg);
 		-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	}
	

	/* Define backgrounds of divs */
#aus {
	text-align: center;
	background-image:url(bhumika.jpg);
}

	#mn {
	background-image:url(cm.jpg);
		-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	}

	#mission {
	background-color: #000;
		-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	}


	#aa{
		background-image:url(bhumika.jpg);
		-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		-o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
		box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); }
	/** Format article **/
	.bgParallax article {
	  width: 70%;
	  text-align: center;
	  margin:0 auto;
	  padding:20% 0 0;
	}
	 
	/** format text **/
	article h1 {font-size:40px;}
	article p {line-height: 30px; font-size:20px; margin-top:15px;}
	article p a {color:#FFF; text-decoration:none; font-size:30px;}



.butter{
	height: 200px;
		width: 320px;
		font-family: algerian;
			background-image:url(butter.jpg);
}


}






.div {
	height: 20px;
	width: 30px;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 100px;
	font-size: 18px;
	border-radius: 10px;
	background-color: #666666;
	box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	display: inline-block;
	font-family: Arial, Helvetica, sans;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}


.bird {	
	width: 320px;
	height: 200px;
	background-image:url(bird.jpg);
	box-shadow: 0 4px 4px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.bird:hover {

	font-size: 100%;
background-color: #fff;
	box-shadow: 0 15px 15px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}



.offbeat {	
	width: 320px;
	height: 270px;
	background-image:url(sun.jpg);
	box-shadow: 0 4px 4px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.offbeat:hover {
	font-size: 100%;
	background-color: #fff;
	box-shadow: 0 15px 15px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.offbeata {	
	width: 320px;
	height: 270px;
	background-image:url(offbeata.jpg);
	box-shadow: 0 4px 4px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.offbeata:hover {
	font-size: 100%;
	background-color: #fff;
	box-shadow: 0 15px 15px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.offbeatc {	
	width: 320px;
	height: 270px;
	background-image:url(offbeatd.jpg);
	box-shadow: 0 4px 4px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.offbeatc:hover {
	font-size: 100%;
	background-color: #fff;
	box-shadow: 0 15px 15px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.offbeatm {	
	width: 320px;
	height: 270px;
	background-image:url(offbeatm.jpg);
	box-shadow: 0 4px 4px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.offbeatm:hover {
	font-size: 100%;
	background-color: #fff;
	box-shadow: 0 15px 15px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}



.rho {	
	width: 320px;
	height: 200px;
	background-image:url(rho.jpg);
	box-shadow: 0 4px 4px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.rho:hover {

	font-size: 100%;
background-color: #fff;
	box-shadow: 0 15px 15px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}



.butter {	
	width: 320px;
	height: 200px;
	background-image:url(butter.jpg);
	box-shadow: 0 4px 4px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.butter:hover {
	
	font-size: 100%;
background-color: #fff;
	box-shadow: 0 15px 15px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}


.kafal {

	width: 320px;
	height: 200px;
	background-image:url(kafal.jpg);
	box-shadow: 0 4px 4px #000, 0 9px 0 #80FF00, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.kafal:hover {
	font-size: 100%;
background-color: #fff;
	box-shadow: 0 15px 15px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}








/*slider*/
.slides {
    padding: 0;
    width: 1340px;
    height: 800px;
    display: block;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
	margin-left: 15px;

    top: 0;
    opacity: 0;
    width: 1320px;
    height: 800px;
    display: block;
    position: absolute;
   	transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
	opacity: 0;
    z-index: 2;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }


input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 29px;
	height: 15px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	width: 22px;
	height: 22px;
	margin: 0 0px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #fff;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}