<!DOCTYPE html>
<html>
<head>
  <title>Mf</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body  > 
<br><br><br>
          <h1 style="font-family:algerian;color:#004080; text-align:center; font-size:80px;"> WELCOME TO YOUR DREAM TRIP </h1><br><br>
                   <h1 style="font-family:Edwardian Script ITC;color:#fff;; text-align:center; font-size:80px;color:#004080;">scroll down to register</h1>

       
           
<br>  
  <div> 
<br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="Uttarakhand" src="http://maps.google.com/maps/api/staticmap?center=Uttarakhand,IN&zoom=4&size=950x600&maptype=hybrid&sensor=false&markers=color:orange|Uttarakhand"></img>

<img src="http://maps.google.com/maps/api/staticmap?size=950x600&maptype=roadmap&sensor=false&markers=color:orange|Uttarakhand,IN&markers=color:pink" alt="UTTARAKHAND, Illinois"></img>
&nbsp;&nbsp;&nbsp;&nbsp;

<br><br>
</div>
      
	  <div id="aboutus" class="bgParallax" data-speed="15">
      <article>
        <p>This is our online portal for trip and tour booking. Get ready for your secure, safe and most enjoyble trip. We provide you the best quality services. </p>
        
       </article>
  </div>
  <div id="mission" class="bgParallax" data-speed="10">
       <article>
        <h1>Water</h1>
       <p>
       </article>
  </div>
  
  
  <div id="aa" class="bgParallax" data-speed="10">
       <article>
        <h1>Water</h1>
       <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>
       </article>
  </div>
  
  




</body></html>