<%= form_for(@yourtour) do |f| %>
  <% if @yourtour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yourtour.errors.count, "error") %> prohibited this yourtour from being saved:</h2>

      <ul>
      <% @yourtour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tour %><br>
    <%= f.text_field :tour %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :agegroup %><br>
    <%= f.text_field :agegroup %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
