<h1>Listing yourtours</h1>

<table>
  <thead>
    <tr style=" font-family: algerian;">
      <th style=" font-family: algerian;">Tour&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th style=" font-family: algerian;">Description</th>
      <th style=" font-family: algerian;">Agegroup&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th style=" font-family: algerian;">Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yourtours.each do |yourtour| %>
      <tr style="font-family: algerian;">
        <td style=" font-family: algerian;"><%= yourtour.tour %></td>&nbsp;&nbsp;&nbsp;
        <td style=" font-family: algerian;"><%= yourtour.description %></td>
        <td style=" font-family: algerian;"><%= yourtour.agegroup %></td>
        <td style=" font-family: algerian;"><%= yourtour.cost %></td>
        <td style=" font-family: algerian;"><%= link_to 'Show', yourtour %></td>
        <td style=" font-family: algerian;"><%= link_to 'Edit', edit_yourtour_path(yourtour) %></td>
        <td style=" font-family: algerian;"><%= link_to 'Destroy', yourtour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yourtour', new_yourtour_path %>