<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @yourtour.tour %>
</p>

<p>
  <strong>Description:</strong>
  <%= @yourtour.description %>
</p>

<p>
  <strong>Agegroup:</strong>
  <%= @yourtour.agegroup %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @yourtour.cost %>
</p>

<%= link_to 'Edit', edit_yourtour_path(@yourtour) %> |
<%= link_to 'Back', yourtours_path %>
