<!DOCTYPE html>
<html>
<head>
  <title>travel</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body > 
<a href="abouts/index" class="div home shield">About Us</a>
<a href="birds/show" class="div red shield">Winter Camp</a>
<a href="cycles/index" class="div red shield">Cycling Trip</a>
<a href="wildlives/index" class="div red shield">Offbeat Tours</a>
<a href="trekkings/index" class="div red shield">Leisure Trip</a>
<a href="yourtours/new" class="div red shield">Add Your Own trip</a>
<a href="articles/contact" class="div red shield">Contact Info</a>            
 <br><br><br>
    <%= yield %>

 </body>
<div >
            
<div style="font-family:algerian; font-color:#fff; background-color:#999999; " >
<br><br><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© COPYRIGHTED BY BHUMIKA SHAH</h1><br><br>
</DIV>

</html>